
플밍2 플젝.xcodeproj/project.pbxproj
플밍2 플젝.xcodeproj/project.xcworkspace/contents.xcworkspacedata
플밍2 플젝.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
플밍2 플젝.xcodeproj/xcuserdata/chae.xcuserdatad/xcschemes/xcschememanagement.plist
